:root{
    box-sizing: border-box;
}

*,
::before
::after{
    box-sizing: inherit;
}

body{
    background-color: lightsalmon;
}

.everything{
    width: 700px;
    height: 650px;
    background-color: lightblue;
    margin:auto;
}

.title{
    text-align: center;
    padding:1em;
    background-color: lightcyan;
}

.mainContainer{
    width: 500px;
    height: 500px;
    display:grid;
    grid-template-columns: repeat(16, 16fr);
    grid-gap: 0px;
    margin:auto;
    border: 1px solid black;
}

.buttonMenu{
    width: auto;
    position: relative;
    right:2em;
}

.board{
    width:80%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    display:grid;
    grid-template-columns: 10% 90%;
}

.gridItem{
    border: 0.5px solid black;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.resetButton{
    display:flex;
    margin:auto;
}

.drawnItemGreen{
    background-color: green;
}

.drawnItemRed{
    background-color: red;
}

.drawnItemBlue{
    background-color: blue;
}